- if user_signed_in?
  %nav.navbar.navbar-expand.navbar-dark
    .navbar-brand
      = link_to "トップへ", root_path
    %ul.navbar-nav.ml-auto
      - if current_user.admin
        %li{ class:  "#{'active' if controller.controller_name.include?('admin')}"}
          = link_to t('.admin'), admin_index_path, class: 'nav-link'
    .navbar__user-pull-list#navbar_user_pull_list{ data: { open: "false" }}
      = link_to t('.mypage'), user_path(current_user), class: 'navbar__user-pull-item'
      -# .navbar__user-pull-item
      -#   後で見る(仮)
      = link_to t('.setting'), edit_user_registration_path, class: 'navbar__user-pull-item'
      = link_to t('.log_out'), destroy_user_session_path, method: :delete, class: 'navbar__user-pull-item'
