%h1 
  = "#{@user.name}のトップページ"
= link_to "マイページ", user_path(current_user.id), class: "" 
= link_to "生徒一覧", student_index_path, class: "" 
= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "" 