.devise
	.devise__container
		%h2
			プロフィールの編集

		= form_with(model: @user, url: user_path(@user), local: true) do |f|
			= render "users/shared/error_messages", resource: @user
			.form-group
				= f.label :name
				= f.text_field :name, class: 'form-control'
			.form-group
				= f.label :email
				= f.email_field :email, class: 'form-control'
			= f.submit
