.single-container
  %h1
    生徒一覧

  = link_to '登録', new_admin_student_path, class: 'btn btn-success mb-3'

  %table.table.text-nowrap
    %thead.thead-light
      %tr
        %th.col-7
          名前
        %th.col-5
    %tbody
      - @students.each do |student|
        %tr
          %td
            = "#{student.firstname} #{student.lastname}"
          %td
            = link_to '編集', edit_admin_student_path(student.id), class: 'btn btn-outline-dark'
            = link_to '削除', admin_student_path(student.id), method: :delete, data: {confirm: '削除しますか？'}, class: 'btn btn-danger'
      
      = link_to "管理者ページ", admin_index_path, class: ""