.single-container
  %h1
    教師編集

  = form_with(model: @user, url: admin_user_path, local: true) do |f|
    - if f.object.errors.any?
      .alert-warning
        %ul
          - f.object.errors.full_messages.each do |message|
            %li
              = message
    .form-row
      .form-group.col-sm-6
        = f.label :name
        = f.text_field :name, class: 'form-control'
      .form-group.col-sm-6
        = f.label :email
        = f.email_field :email, class: 'form-control'
    .form-row
      = f.label :admin
      = f.check_box :admin
    .form-group
      = f.submit nil, class: 'btn btn-success'