%h1
  = "#{@user.name}のデータ"

= "名前：#{@user.name}"
%br
= "メールアドレス：#{@user.email}"
%br
- if @user.admin
  管理者権限あり
%br
= link_to "編集", edit_admin_user_path(@user), class: ""
= link_to "削除", admin_user_path(@user), method: :delete, data: {confirm: '削除しますか？'}, class: ''
%br
= link_to "戻る", admin_users_path, class: "" 
